.color-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.color {
  flex: 1;
  padding: 20px;
  text-align: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.col1 {
  background-color: rgb(86, 86, 215);
} 

.col2 {
  background-color: rgb(240, 72, 72);
}

.col3 {
  background-color: rgb(105, 198, 105);
}

.col4 {
  background-color: rgb(110, 55, 130);
}
